{% extends 'vocabs/base.html' %}
{% block content %}
<p>
  <a href="{{ vocabulary.uri }}">{{ vocabulary.uri }}</a>
  — Preview as:
  {% for param, label in formats.items %}
  <a href="{% url 'show_graph' pk=vocabulary.id %}?format={{ param }}" target="_blank">{{ label }}</a>
  {% endfor %}
</p>

<div id="forms">
  <div id="details">
    <h2>Details</h2>
    <form method="post" action="{% url 'show_vocabulary' pk=vocabulary.id %}">
      {% csrf_token %}
      {{ form }}
      <button type="submit">Update</button>
    </form>
  </div>

  <div id="terms">
  <h2>Terms</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th class="properties-header">Properties</th>
        <th>URI</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for term in terms %}
      {% include 'vocabs/term.html' %}
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="new-terms">
    <h2>Create New Term</h2>
    <form method="post" action="{% url 'list_terms' pk=vocabulary.id %}">
      {% csrf_token %}
      <input name="term_name" placeholder="Name" />
      <select name="rdf_type">
        <option value="">Basic term</option>
        <option value="rdfs:Class">Class</option>
        <option value="rdfs:Datatype">Datatype</option>
      </select>
      <button type="submit" hx-post="{% url 'list_terms' pk=vocabulary.id %}" hx-target="previous tbody" hx-swap="beforeend">Add Term</button>
    </form>
  </div>
</div>

<script>
  document.body.addEventListener('htmx:afterSwap', function (evt) {
    // reset the dropdown to the "Add a property" placeholder value
    let selectElement = evt.detail.elt.parentNode.querySelector('.add-property');
    if (selectElement) {
      selectElement.value = 'Add a property';
    }
  });

  document.body.addEventListener('htmx:beforeRequest', function (evt) {
    // send the csrftoken as a header on DELETE requests
    if (evt.detail.elt.className == 'delete') {
      evt.detail.xhr.setRequestHeader('X-CSRFToken', cookieParser(document.cookie).csrftoken);
    }
  })
</script>
{% endblock %}
