{% extends 'vocabs/base.html' %}
{% block content %}
{% if vocabulary.is_published %}
<p>Status: <strong class="status published">Published</strong></p>
{% endif %}
<p>
  <a href="{{ vocabulary.uri }}">{{ vocabulary.uri }}</a>
  — Preview as:
  {% for param, label in formats.items %}
  <a href="{% url 'show_graph' pk=vocabulary.id %}?format={{ param }}" target="_blank">{{ label }}</a>
  {% endfor %}
</p>
<div hx-trigger="grove:vocabUpdated from:body" hx-get="{% url 'publication_form' pk=vocabulary.id %}">
  {% include 'vocabs/publication_form.html' %}
</div>

<div id="forms">
  <details id="details">
    <summary><h2>Details</h2></summary>
    <form method="post" action="{% url 'show_vocabulary' pk=vocabulary.id %}">
      {% csrf_token %}
      {{ form }}
      <button class="update" type="submit">Update</button>
    </form>
  </details>

  <details id="terms" open>
    <summary><h2>Terms</h2></summary>
    <table class="grid">
      <thead>
      <tr>
        <th>Name</th>
        <th class="properties-header">Properties</th>
        <th>URI</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      {% for term in terms %}
      {% include 'vocabs/term.html' %}
      {% endfor %}
      </tbody>
    </table>
  </details>

  <details id="new-terms" open>
    <summary><h2>Create New Term</h2></summary>
    <div id="new-term" hx-trigger="grove:termAdded from:body" hx-get="{% url 'new_term_form' pk=vocabulary.id %}">
      {% include 'vocabs/new_term_form.html' with form=new_term_form %}
    </div>
  </details>
</div>

<script>
  document.body.addEventListener('htmx:afterSwap', function (evt) {
    // reset the dropdown to the "Add a property" placeholder value
    let selectElement = evt.detail.elt.parentNode.querySelector('.add-property');
    if (selectElement) {
      selectElement.value = 'Add a property';
    }
  });
</script>
{% endblock %}
