{% extends 'vocabs/base.html' %}
{% block content %}
<table class="grid">
  <thead>
  <tr>
    <th>Label</th>
    <th>Preferred Prefix</th>
    <th>Term Count</th>
    <th>URI</th>
    <th>Preview</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  {% for vocab in vocabularies %}
  <tr class="vocabulary">
    <td>
      <a href="{% url 'show_vocabulary' pk=vocab.id %}">{{ vocab.label }}</a>
    </td>
    <td>
      {{ vocab.preferred_prefix }}
    </td>
    <td>
      {{ vocab.term_count }}
    </td>
    <td>
      <a href="{{ vocab.uri }}">{{ vocab.uri }}</a>
    </td>
    <td>
      {% for param, label in formats.items %}
      <a href="{% url 'show_graph' pk=vocab.id %}?format={{ param }}">{{ label }}</a>
      {% endfor %}
    </td>
    <td>
      <button class="delete" hx-delete="{% url 'show_vocabulary' pk=vocab.id %}" hx-target="closest .vocabulary" hx-swap="delete"
              hx-confirm="Really delete the vocabulary '{{ vocab.label }}'?">Delete</button>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<h2>Create Vocabulary</h2>
<form method="post" action="">
  {% csrf_token %}
  {{ vocab_form.uri }}
  <button class="create" type="submit">Add Vocabulary</button>
</form>
{% endblock %}
