nav {
    margin: 1em 0;
}
nav>ul {
    padding: 0;
}
nav>ul>li {
    display: inline;
}
nav>ul>li+li:before {
    content: ' | ';
}
table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #666;
    padding: .5em;
}

th {
    background-color: #ddd;
}

td {
    vertical-align: top;
}

tbody tr:nth-child(2n) {
    background-color: #eee;
}

.properties-header {
    width: 40em;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.term li>button,
.term td select {
    opacity: 0.25;
}

.term li:hover>button,
.term td:hover select {
    opacity: 1.0;
}

li,
form {
    margin: 0 0 .5em 0;
}

.properties-controls {
    padding: .5em 0;
}

.form-fields {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: .75em;
}
.form-fields>dt {
    text-align: right;
}
.form-fields>dd {
    margin: 0;
}

.required {
    font-weight: bold;
}

.errorlist {
    padding: 0;
    margin-top: .25em;
    color: red;
}
.errorlist li:before,
.messages>.error:before {
    content: '❗ ';
}
.messages>.success:before {
    content: '✔️ ';
}

.messages>li {
    border: 2px solid;
    padding: .5rem;
}
.messages>.success {
    border-color: green;
    background: #dfd;
}
.messages>.error {
    border-color: red;
    background: #fdd;
}
.messages>.info {
    border-color: blue;
    background: lightblue;
}

#forms {
    display: grid;
    grid-template-areas:
    "details terms"
    "new-terms terms";
    grid-auto-rows: auto 1fr;
    grid-column-gap: 2rem;
}
#details {
    grid-area: details;
}
#terms {
    grid-area: terms;
}
#new-terms {
    grid-area: new-terms;
}

textarea {
    font-family: sans-serif;
    font-size: 13px;
}
